/* TODO: Make it awesome */
body {
    background-color: #206A5D ;    
    overflow: hidden;       
}
 
/*
============================================================================================================================
=========================================================== THIS SECTION IS FOR SEMANTIC ELEMENTS ==========================
============================================================================================================================
*/
 
header {
    width: max-width;
    height: 75px;
    background-color: #81B214;
    color: #ffffff;
    font-size: 35px;
}
 
nav {
    position: absolute;
    top: 20px;
    left: 880px;
    padding-left: 15px;   
    height: 140px;
    width: 60px;
    border-left: khaki 5px solid;
}
 
main {
    height: 100px;  
    width: max-width;
}
 
section {
 
}
 
footer {
 
 
}
 
/*
============================================================================================================================
=========================================================== THIS SECTION IS FOR X ELEMENTS ===================================
============================================================================================================================
*/
 
 
 
 
/*
============================================================================================================================
=========================================================== THIS SECTION IS FOR ELEMENTS ===================================
============================================================================================================================
*/
 
h1 {
    text-align: inherit;
 
}
 
ul {
    display: block;
    width:  300px;
}
 
ol {
 
 
}
 
li {
    display: inherit;
    padding: 10px;
}
 
legend {
 
}
 
label {
 
}
 
input {
 
}
 
fieldset {
 
 
}
 
form {
 
}
 
a:link {
    background-color: #81B214;
    text-decoration: none;
    width: 200px;
}
 
a:hover {
    background-color: #81B214;    
}